@model IEnumerable<DgPadCMS.Models.Post>

@{
    ViewData["Title"] = "Index";
}


<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up" >

        <div class="section-header">
            <h2>@ViewBag.PostType</h2>
        </div>
        <div class="tab-pane fade active show tab-header text-center" style="padding-bottom: 2%">

            <h3><span style="color:red" class="bi-dot"></span><span style="color:red" class="bi-dot"></span><span style="color:red" class="bi-dot"></span><span style="color:red" class="bi-dot"></span><span style="color:red" class="bi-dot"></span><span style="color:red" class="bi-dot"></span></h3>
        </div>
       
        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show">

                

              
                    <div class="row gy-5">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 menu-item">
                            <a asp-action="Detail" asp-route-id="@item.Id"><img src="/DgPadCMS/wwwroot/media/photos/@item.Image" class="menu-img img-fluid" alt=""></a>
                            <h4>@item.Title</h4>
                            <p class="ingredients">
                                @item.CreationDate

                            </p>
                            <p class="ingredients ">
                                @item.Summary
                            </p>
                        </div>
                    }

                        <!-- Menu Item -->
                    </div>

                

                    

            </div><!-- End Starter Menu Content -->

           

        </div>

    </div>
</section><!-- End Menu Section -->