@model Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <dl class="row">
      
        <dt class = "col-sm-2">
           Title
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
           PostType
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTypeId)
        </dd>
        <dt class = "col-sm-2">
            CreationDate
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
           Details
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Detail)
        </dd>
        <dt class = "col-sm-2">
           Summary
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="~/Media/Photos/@Model.Image" width="200" height="200" alt="" />
        </dd>
        <dt class="col-sm-2">
            Video
        </dt>
        <dd class="col-sm-10">
            @if (Model.Media != "novideo.mp4"){
                <video width="200" height="200" controls> <source src="~/Media/Videos/@Model.Media" type="video/mp4"></video>
                
            }
            @if (Model.Media == "novideo.mp4")
            {
                            <div>there is no video</div>
            }
        </dd>
        <dt class="col-sm-2">
            Terms
        </dt>
        <div>
            @foreach (var item in ViewBag.Terms)
            {
                <dd class="col-sm-10">
                        @item.Term.Name
                        </dd>
            }
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

    <a asp-action="Index">Back to List</a>
</div>
